<form method="post" action="{{ path('app_insuline_delete', {'id': insuline.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ insuline.id) }}">
    <button class="btn">Delete</button>
</form>
